## First part from https://github.com/github/gitignore/blob/master/SugarCRM.gitignore
# Ignore custom .htaccess stuff.

# Ignore large parts of the annoying cache directory without breaking things.
cache/*
upload/*
